Name: Oladipo Adesina
Hamoye student ID: 13ee1d91ee81f000

In [4]:
import numpy as np
import pandas as pd

In [5]:
food_data = pd.read_csv("Food_data.csv", encoding='ISO-8859-1')

#### Question 11

In [6]:
sum_2014 = food_data.groupby('Item').sum()['Y2014']['Animal fats'].round(decimals=2)
sum_2017 = food_data.groupby('Item').sum()['Y2017']['Animal fats'].round(decimals=2)

print(sum_2014)
print(sum_2017)

209460.54
269617.53

#### Question 12

In [27]:
mean = food_data['Y2015'].mean()
std = food_data['Y2015'].std()

print('Mean: %.3f' %mean)
print('Standard deviation: %.3f' %std)

Mean: 135.236
Standard deviation: 1603.404

#### Question 13

In [12]:
sum_missing = food_data['Y2016'].isnull().sum().round(decimals=2) 
percent_missing = (food_data['Y2016'].isnull().sum()/len(food_data['Y2016']) * 100).round(decimals=2)

print(sum_missing)
print(percent_missing)

1535
2.52

#### Question 14

In [13]:
food_data.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [14]:
fd = food_data.groupby('Element').sum()

#### Question 15

In [45]:
fd.loc['Import Quantity']

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

#### Question 16

In [15]:
fd['Y2014']['Production']

1931287.7500000005

#### Question 17

In [16]:
fd[fd['Y2018'] == fd['Y2018'].max()]

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.7,2088198.1,2161192.1

#### Question 18

In [26]:
#question 18
fd.nsmallest(3, 'Y2018').iloc[[-1]]

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56

#### Question 19

In [18]:
#question 19
food_data[food_data['Area'] == 'Algeria'].groupby('Element').sum()['Y2018']['Import Quantity']

36238.29

#### Question 20

In [19]:
#question 20
food_data['Area'].nunique()

49