Name: Oladipo Adesina
Hamoye student ID: 13ee1d91ee81f000

In [1]:
import numpy as np
import pandas as pd

In [2]:
food_data = pd.read_csv("Food_data.csv", encoding='ISO-8859-1')
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

#### Question 11

In [3]:
sum_2014 = food_data.groupby('Item').sum()['Y2014']['Animal fats'].round(decimals=2)
sum_2017 = food_data.groupby('Item').sum()['Y2017']['Animal fats'].round(decimals=2)

print(sum_2014)
print(sum_2017)

209460.54
269617.53

#### Question 12

In [4]:
mean = food_data['Y2015'].mean()
std = food_data['Y2015'].std()

print('Mean: %.3f' %mean)
print('Standard deviation: %.3f' %std)

Mean: 135.236
Standard deviation: 1603.404

#### Question 13

In [5]:
sum_missing = food_data['Y2016'].isnull().sum().round(decimals=2) 
percent_missing = (food_data['Y2016'].isnull().sum()/len(food_data['Y2016']) * 100).round(decimals=2)

print(sum_missing)
print(percent_missing)

1535
2.52

#### Question 14

In [6]:
food_data.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [7]:
fd = food_data.groupby('Element').sum()

#### Question 15

In [8]:
fd.loc['Import Quantity']

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

#### Question 16

In [9]:
fd['Y2014']['Production']

1931287.7500000005

#### Question 17

In [10]:
fd[fd['Y2018'] == fd['Y2018'].max()]

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.7,2088198.1,2161192.1

#### Question 18

In [11]:
fd.nsmallest(3, 'Y2018').iloc[[-1]]

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56

#### Question 19

In [12]:
food_data[food_data['Area'] == 'Algeria'].groupby('Element').sum()['Y2018']['Import Quantity']

36238.29

#### Question 20

In [15]:
food_data['Area'].nunique()

49